In [ ]:
'''
talib
'''

In [ ]:
import talib
import numpy as np

In [ ]:
high = np.array([1.0, 2.0, 6.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0])
low = np.array([1.0, 2.0, 5.0, 6.0, 5.0, 4.0, 3.0, 2.0, 1.0])
close = np.array([1.0, 2.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0])
a = talib.ATR(high, low, close, 2)
a

In [ ]:
close = np.array([1000.0, 2.0, 1.0, 6.0, 6.0, 1.0, 6.0, 1.0, 1.0, 1.0, 1.0])
result = talib.RSI(close, 2)
result

In [ ]:
'''
tushare
'''

In [1]:
import tushare as ts
from datetime import datetime, timedelta

In [2]:
cons = ts.get_apis()

In [19]:
#df = ts.tick('rb1805', conn = cons, date = '2017-06-01', asset = 'X') 
#df = ts.tick('IF1801', conn = cons, date = '2017-06-22', asset = 'X') 
#df = ts.tick('600380', conn = cons, date = '2018-01-02')
df = ts.tick('rb1801', conn = cons, date = '2017-01-17', asset = 'X')
df

                   date price     vol  oi_change  type
0   2017-01-17 20:59:00    双开  3285.0          2     2
1   2017-01-17 21:00:00    双开  3285.0          2     2
2   2017-01-17 21:00:15    双开  3285.0          2     2
3   2017-01-17 21:00:26    双开  3255.0          2     2
4   2017-01-17 21:00:28    双开  3255.0          2     2
5   2017-01-17 21:00:29    双开  3255.0          2     2
6   2017-01-17 21:00:29    双开  3255.0         16    16
7   2017-01-17 21:00:30    双开  3255.0          4     4
8   2017-01-17 21:01:32    双开  3242.0          2     2
9   2017-01-17 21:01:34    双开  3255.0          2     2
10  2017-01-17 21:01:39    双开  3241.0          2     2
11  2017-01-17 21:01:46    多换  3255.0          2     0
12  2017-01-17 21:01:51    双开  3255.0          2     2
13  2017-01-17 21:01:57    双开  3260.0          2     2
14  2017-01-17 21:02:23    双开  3250.0          2     2
15  2017-01-17 21:02:35    双开  3250.0          2     2
16  2017-01-17 21:02:47    双开  3247.0          6     6
17  2017-01-17 21:03:09    双开  3248.0          2     2
18  2017-01-17 21:03:27    双开  3250.0          2     2
19  2017-01-17 21:03:54    空换  3245.0          2     0
20  2017-01-17 21:03:55    双开  3248.0          2     2
21  2017-01-17 21:04:03    双开  3244.0          2     2
22  2017-01-17 21:04:06    多换  3245.0          2     0
23  2017-01-17 21:04:07    空换  3246.0          2     0
24  2017-01-17 21:05:47    双开  3255.0          2     2
25  2017-01-17 21:06:46    双开  3253.0          2     2
26  2017-01-17 21:06:55    空换  3247.0          2     0
27  2017-01-17 21:07:22    双开  3247.0          2     2
28  2017-01-17 21:07:23    双开  3246.0          2     2
29  2017-01-17 21:07:23    双开  3245.0          4     4
..                  ...   ...     ...        ...   ...
782 2017-01-17 14:40:41    空换  3165.0          4     0
783 2017-01-17 14:40:48    双开  3161.0          2     2
784 2017-01-17 14:40:59    双开  3164.0          2     2
785 2017-01-17 14:41:09    双开  3166.0          2     2
786 2017-01-17 14:42:50    空换  3160.0          2     0
787 2017-01-17 14:43:02    双平  3164.0          4    -4
788 2017-01-17 14:44:27    多平  3159.0          4    -2
789 2017-01-17 14:44:28    多换  3169.0          2     0
790 2017-01-17 14:44:47    空换  3158.0          2     0
791 2017-01-17 14:44:51    双平  3157.0          2    -2
792 2017-01-17 14:44:58    双平  3159.0          2    -2
793 2017-01-17 14:46:35    双平  3155.0          2    -2
794 2017-01-17 14:47:10    空换  3155.0          2     0
795 2017-01-17 14:48:03    多换  3159.0          2     0
796 2017-01-17 14:48:45    多换  3158.0          2     0
797 2017-01-17 14:48:49    多换  3162.0          2     0
798 2017-01-17 14:50:03    多开  3163.0         14     2
799 2017-01-17 14:50:03    空换  3163.0          2     0
800 2017-01-17 14:50:09    双开  3177.0          4     4
801 2017-01-17 14:50:14    双开  3177.0          4     4
802 2017-01-17 14:50:19    多换  3174.0          2     0
803 2017-01-17 14:50:20    双开  3174.0          2     2
804 2017-01-17 14:54:45    双平  3169.0          2    -2
805 2017-01-17 14:54:57    空换  3165.0          2     0
806 2017-01-17 14:57:49    多换  3171.0          2     0
807 2017-01-17 14:58:24    空换  3172.0          2     0
808 2017-01-17 14:58:25    多换  3172.0          2     0
809 2017-01-17 14:58:43    双平  3173.0          6    -6
810 2017-01-17 14:58:46    多换  3174.0          2     0
811 2017-01-17 14:59:22    双平  3165.0          2    -2

[812 rows x 5 columns]

In [4]:
df

                     date price     vol  oi_change  type
0     2017-06-01 20:59:00    平仓  2845.0        526  -234
1     2017-06-01 21:00:00    空平  2848.0         38    -4
2     2017-06-01 21:00:01    多开  2854.0        278     6
3     2017-06-01 21:00:01    开仓  2853.0         12     8
4     2017-06-01 21:00:02    多平  2851.0         96    -6
5     2017-06-01 21:00:02    多开  2851.0         32    10
6     2017-06-01 21:00:03    空开  2848.0         24     2
7     2017-06-01 21:00:03    多开  2848.0         28     4
8     2017-06-01 21:00:04    空换  2846.0         24     0
9     2017-06-01 21:00:04    多平  2846.0         34   -14
10    2017-06-01 21:00:05    双开  2846.0         30    30
11    2017-06-01 21:00:05    空开  2846.0         22     2
12    2017-06-01 21:00:06    空平  2847.0          6    -2
13    2017-06-01 21:00:06    双开  2847.0          2     2
14    2017-06-01 21:00:07    空开  2847.0         12     6
15    2017-06-01 21:00:07    双开  2847.0          2     2
16    2017-06-01 21:00:08    双开  2847.0          6     6
17    2017-06-01 21:00:08    空换  2847.0          4     0
18    2017-06-01 21:00:09    多换  2848.0         18     0
19    2017-06-01 21:00:10    多换  2848.0         26     0
20    2017-06-01 21:00:10    多开  2848.0         48    20
21    2017-06-01 21:00:11    多开  2849.0          4     2
22    2017-06-01 21:00:11    多开  2850.0         14    12
23    2017-06-01 21:00:12    空平  2850.0          8    -2
24    2017-06-01 21:00:12    双开  2849.0         10    10
25    2017-06-01 21:00:13    空换  2849.0         20     0
26    2017-06-01 21:00:13    空平  2849.0          8    -4
27    2017-06-01 21:00:14    多平  2848.0         66    -2
28    2017-06-01 21:00:14    空平  2850.0         44   -32
29    2017-06-01 21:00:15    多换  2852.0          4     0
...                   ...   ...     ...        ...   ...
15573 2017-06-01 14:59:35    多平  2837.0         20    -4
15574 2017-06-01 14:59:36    空换  2837.0          2     0
15575 2017-06-01 14:59:36    空开  2837.0          4     2
15576 2017-06-01 14:59:37    双平  2837.0          2    -2
15577 2017-06-01 14:59:38    空换  2837.0          2     0
15578 2017-06-01 14:59:41    空换  2837.0         24     0
15579 2017-06-01 14:59:42    多换  2837.0          2     0
15580 2017-06-01 14:59:42    空平  2838.0         50   -26
15581 2017-06-01 14:59:43    多平  2838.0         10    -4
15582 2017-06-01 14:59:43    双平  2837.0         16   -16
15583 2017-06-01 14:59:45    双开  2837.0          2     2
15584 2017-06-01 14:59:47    双开  2836.0          2     2
15585 2017-06-01 14:59:48    空开  2836.0         34     2
15586 2017-06-01 14:59:48    双开  2836.0          2     2
15587 2017-06-01 14:59:49    双平  2835.0          2    -2
15588 2017-06-01 14:59:49    多换  2836.0          2     0
15589 2017-06-01 14:59:50    空平  2836.0          4    -2
15590 2017-06-01 14:59:50    双开  2836.0          4     4
15591 2017-06-01 14:59:51    空平  2836.0         46    -2
15592 2017-06-01 14:59:51    空开  2835.0         38    24
15593 2017-06-01 14:59:52    双开  2836.0          2     2
15594 2017-06-01 14:59:53    多平  2835.0         20    -4
15595 2017-06-01 14:59:54    多换  2836.0          2     0
15596 2017-06-01 14:59:55    多开  2836.0          4     2
15597 2017-06-01 14:59:56    多开  2836.0         24    10
15598 2017-06-01 14:59:57    双平  2835.0          8    -8
15599 2017-06-01 14:59:57    双开  2836.0          4     4
15600 2017-06-01 14:59:58    多平  2835.0         26    -2
15601 2017-06-01 14:59:58    多换  2835.0         16     0
15602 2017-06-01 15:00:00    双开  2835.0          2     2

[15603 rows x 5 columns]

In [ ]:
for i, row in df.iterrows():
    print row['date'], '*'*2, row['vol']

In [ ]:
df = ts.bar('rb1805', conn = cons, freq = 'D', start_date = '2017-01-01', end_date = '', asset = 'X')

In [ ]:
df.sort_index(inplace = True)
df

In [ ]:
a = df.ix[1]
the = a['date']
dt = the.to_datetime()
print dt
if dt.time() >= datetime.time(21, 0):
    dt = dt - timedelta(1)

print dt

In [ ]:
for index, row in df.iterrows():
    print row['date'], ' '*2, row['vol']

In [ ]:
from datetime import datetime

In [ ]:
from collections import namedtuple
abc = namedtuple('xyz', ['x', 'y'])
the = abc(6,2)
the.x

In [ ]:
import sys
#sys.getdefaultencoding()
#reload(sys)
#sys.setdefaultencoding('UTF-8')
a = sys.getdefaultencoding()
type(a)

In [ ]:
if isinstance('a', str):
    print 1
else:
    print 2

In [ ]:
import pymongo

In [ ]:
c = pymongo.MongoClient('localhot', 270)
if c:
    print c
    
else:
    print 'no'

In [ ]:
'''
datetime
'''

In [ ]:
from datetime import datetime, time

In [ ]:
a = datetime.now().time()
print type(a)

In [ ]:
a = False
if not a:
    print 'yes'

In [ ]:
'''
json
'''
import json

In [ ]:
f1 = open(filePath)
the = json.load(f1)
for dic in the:
    print dic['a']

In [ ]:
import os

In [ ]:
currentFolder = os.getcwd()
print currentFolder
newPath = os.path.join(currentFolder, '')

In [2]:
a = raw_input(':')
if a == '1':
    print 'yes'
else:
    print 'no'

:1
yes