In [ ]:
'''
talib
'''

In [ ]:
import talib
import numpy as np

In [ ]:
high = np.array([1.0, 2.0, 6.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0])
low = np.array([1.0, 2.0, 5.0, 6.0, 5.0, 4.0, 3.0, 2.0, 1.0])
close = np.array([1.0, 2.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0])
a = talib.ATR(high, low, close, 2)
a

In [ ]:
close = np.array([1000.0, 2.0, 1.0, 6.0, 6.0, 1.0, 6.0, 1.0, 1.0, 1.0, 1.0])
result = talib.RSI(close, 2)
result

In [ ]:
'''
tushare
'''

In [24]:
import tushare as ts
from datetime import datetime, timedelta

In [25]:
cons = ts.get_apis()

In [26]:
df = ts.tick('rb1805', conn = cons, date = '2017-06-01', asset = 'X') 
#df = ts.tick('IF1801', conn = cons, date = '2017-06-22', asset = 'X') 
#df = ts.tick('600380', conn = cons, date = '2018-01-02')

In [29]:
df

                    date price     vol  oi_change  type
0    2017-06-01 20:59:00    平仓  2749.0         42   -12
1    2017-06-01 21:00:01    空换  2742.0          2     0
2    2017-06-01 21:00:01    空平  2749.0          8    -2
3    2017-06-01 21:00:02    空开  2742.0         16     2
4    2017-06-01 21:00:02    空换  2741.0          6     0
5    2017-06-01 21:00:04    多换  2746.0          2     0
6    2017-06-01 21:00:05    空换  2741.0          4     0
7    2017-06-01 21:00:11    多换  2744.0          4     0
8    2017-06-01 21:00:12    双开  2742.0          4     4
9    2017-06-01 21:00:15    空换  2741.0          2     0
10   2017-06-01 21:00:17    多换  2747.0          2     0
11   2017-06-01 21:00:17    多换  2747.0         20     0
12   2017-06-01 21:00:18    空开  2747.0          4     2
13   2017-06-01 21:00:19    双开  2747.0          8     8
14   2017-06-01 21:00:20    双开  2747.0          2     2
15   2017-06-01 21:00:21    双开  2747.0         20    20
16   2017-06-01 21:00:22    空平  2748.0          4    -2
17   2017-06-01 21:00:23    双开  2747.0         46    46
18   2017-06-01 21:00:25    双开  2748.0          8     8
19   2017-06-01 21:00:28    双开  2742.0          4     4
20   2017-06-01 21:00:29    双开  2742.0          8     8
21   2017-06-01 21:00:30    双开  2742.0          8     8
22   2017-06-01 21:00:32    空开  2741.0          6     4
23   2017-06-01 21:00:34    空换  2741.0          2     0
24   2017-06-01 21:00:37    双开  2740.0          4     4
25   2017-06-01 21:00:39    双平  2741.0          4    -4
26   2017-06-01 21:00:40    空换  2740.0          2     0
27   2017-06-01 21:00:41    双平  2743.0          2    -2
28   2017-06-01 21:00:42    双平  2741.0          2    -2
29   2017-06-01 21:00:45    多换  2743.0          2     0
...                  ...   ...     ...        ...   ...
3659 2017-06-01 14:56:37    多换  2738.0          2     0
3660 2017-06-01 14:56:40    双开  2738.0          6     6
3661 2017-06-01 14:56:48    双开  2737.0          2     2
3662 2017-06-01 14:56:49    双开  2737.0          4     4
3663 2017-06-01 14:56:59    多换  2738.0         10     0
3664 2017-06-01 14:57:11    空换  2736.0          2     0
3665 2017-06-01 14:57:20    多换  2738.0          2     0
3666 2017-06-01 14:57:29    双开  2738.0          2     2
3667 2017-06-01 14:57:44    多开  2738.0          4     2
3668 2017-06-01 14:57:49    空平  2740.0          6    -2
3669 2017-06-01 14:57:49    空换  2740.0         10     0
3670 2017-06-01 14:57:53    多换  2741.0          8     0
3671 2017-06-01 14:57:54    空开  2741.0         42    32
3672 2017-06-01 14:58:00    双平  2739.0          4    -4
3673 2017-06-01 14:58:03    空换  2739.0          2     0
3674 2017-06-01 14:58:04    空换  2740.0          2     0
3675 2017-06-01 14:58:13    双开  2740.0          2     2
3676 2017-06-01 14:58:23    空换  2739.0          4     0
3677 2017-06-01 14:58:29    空换  2737.0          2     0
3678 2017-06-01 14:58:34    空换  2737.0          2     0
3679 2017-06-01 14:58:34    空换  2736.0          2     0
3680 2017-06-01 14:58:49    双平  2741.0          4    -4
3681 2017-06-01 14:58:55    多换  2741.0          2     0
3682 2017-06-01 14:58:59    空平  2742.0         14    -8
3683 2017-06-01 14:59:02    空换  2737.0          2     0
3684 2017-06-01 14:59:11    双平  2742.0          4    -4
3685 2017-06-01 14:59:12    多换  2742.0          2     0
3686 2017-06-01 14:59:21    双开  2742.0         10    10
3687 2017-06-01 14:59:37    多平  2737.0          6    -2
3688 2017-06-01 14:59:49    空平  2742.0          4    -2

[3689 rows x 5 columns]

In [ ]:
for i, row in df.iterrows():
    print row['date'], '*'*2, row['vol']

In [ ]:
df = ts.bar('rb1805', conn = cons, freq = 'D', start_date = '2017-01-01', end_date = '', asset = 'X')

In [ ]:
df.sort_index(inplace = True)
df

In [ ]:
a = df.ix[1]
the = a['date']
dt = the.to_datetime()
print dt
if dt.time() >= datetime.time(21, 0):
    dt = dt - timedelta(1)

print dt

In [ ]:
for index, row in df.iterrows():
    print row['date'], ' '*2, row['vol']

In [ ]:
from datetime import datetime

In [ ]:
from collections import namedtuple
abc = namedtuple('xyz', ['x', 'y'])
the = abc(6,2)
the.x

In [ ]:
import sys
#sys.getdefaultencoding()
#reload(sys)
#sys.setdefaultencoding('UTF-8')
a = sys.getdefaultencoding()
type(a)

In [ ]:
if isinstance('a', str):
    print 1
else:
    print 2

In [ ]:
import pymongo

In [ ]:
c = pymongo.MongoClient('localhot', 270)
if c:
    print c
    
else:
    print 'no'

In [ ]:
'''
datetime
'''

In [ ]:
from datetime import datetime, time

In [ ]:
a = datetime.now().time()
print type(a)

In [ ]:
a = False
if not a:
    print 'yes'

In [28]:
'''
json
'''
import json

In [29]:
dic = {'a':1,
       'b':2,
       'c':3}
arr = [dic]
dicJson = json.dumps(arr)
filePath = 'clone\\xyz.json'
f = open(filePath, 'w')
f.write(dicJson)
f.close()

In [30]:
f1 = open(filePath)
the = json.load(f1)
for dic in the:
    print dic['a']

1

In [24]:
import os

In [25]:
currentFolder = os.getcwd()
print currentFolder
newPath = os.path.join(currentFolder, '')

'C:\\Users\\Rachel\\Quant\\python-for-investment\\jupyter'

In [31]:
d = datetime.now().strftime('Y-m-d')
d

'Y-m-d'

In [ ]:
'''
pandas
'''

In [49]:
import pandas as pd
from pandas import DataFrame
from pandas import Series

In [64]:
b = DataFrame()
b['名称'] = []
b['价格'] = []
b['开盘价'] = []
b.ix['2017-01-01'] = [1,2,3]
b.ix['2017-01-02'] = [1,2,3]
b.ix['2017-01-03'] = [1,2,3]
b

             名称   价格  开盘价
2017-01-01  1.0  2.0  3.0
2017-01-02  1.0  2.0  3.0
2017-01-03  1.0  2.0  3.0

In [65]:
fileName = 'abc.csv'

In [66]:
b.to_csv(fileName, encoding = 'utf-8')

In [67]:
c = pd.read_csv(fileName, encoding = 'utf-8')
c

   Unnamed: 0   名称   价格  开盘价
0  2017-01-01  1.0  2.0  3.0
1  2017-01-02  1.0  2.0  3.0
2  2017-01-03  1.0  2.0  3.0

In [ ]:
'''
csv
'''

In [69]:
import csv

In [78]:
fileName = 'clone\\abc.csv'

In [79]:
with open(fileName, 'w') as f:
    fieldnames = ['first_name', 'last_name']
    writer = csv.DictWriter(f, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'first_name': 'Baked', 'last_name': 'Beans'})
    writer.writerow({'first_name': 'Lovely', 'last_name': 'Spam'})
    writer.writerow({'first_name': 'Wonderful', 'last_name': 'Spam'})

In [77]:
# 读
with open(fileName) as f:
    reader = csv.DictReader(f)
    for row in reader:
        print row
        print '\n'

{'first_name': 'Baked', 'last_name': 'Beans'}


{'first_name': 'Lovely', 'last_name': 'Spam'}


{'first_name': 'Wonderful', 'last_name': 'Spam'}