In [2]:
import tushare as ts
import pandas as pd
from datetime import datetime, timedelta
import pymongo
import time
from vnpy.trader.app.ctaStrategy.ctaBase import TICK_DB_NAME

In [3]:
code = '600380'
dbName = 'Stocks_Daily_Db'

In [ ]:
codeList = ts.get_stock_basics()
codeList

In [ ]:
date = datetime.now()
hour = date.strftime('%H')
oneDay = timedelta(1)

if int(hour) < 15:
    date = date - oneDay
    
dateStr = date.strftime('%Y-%m-%d')

In [ ]:
data = ts.get_hist_data('300680', retry_count = 10, pause = 1)
#data.sort_index(inplace = True)
#data

In [ ]:
#vnpy 1.7.0有的
from vnpy.trader.app.ctaStrategy.strategy import strategyAtrRsi
from vnpy.trader.app.ctaStrategy.strategy import strategyKingKeltner
from vnpy.trader.app.ctaStrategy.strategy import strategyDualThrust

#vnpy 1.7.0没有的
#from vnpy.trader.app.ctaStrategy.strategy import strategyDoubleMa
#from vnpy.trader.app.ctaStrategy.strategy import strategyBollChannel

In [ ]:
class abc(object):
    def __init__(self, name):
        self.__name = name;
        
    def action(self):
        print self.__name
        print 'yes'

the = abc('pika')
the._abc__name = 'ok'
the.action()

In [ ]:
a = 1.68621
b = round(a, 2)
b

In [ ]:
a = [1,2,3,4,5,6]
print a
a.pop()
print a[]

In [ ]:
a = datetime.now()
print type(a.date())

In [ ]:
a = time.time()
time.sleep(1)
b = time.time()
c = b-a
c

In [ ]:
a = datetime.now()
print a.date()
print a.time()
print type(a.date)

In [29]:
bar = ts.get_tick_data('600380', '2017-11-20')
#bar

In [16]:
cons = ts.get_apis()

In [18]:
#tick = ts.tick('rb1805', cons, '2017-11-19', asset = 'X')
tick = ts.tick('600380', cons, '2017-11-21')
print type(tick)

<class 'pandas.core.frame.DataFrame'>

In [ ]:
a = datetime.now()
print a
print a.weekday()

In [ ]:
print time.ctime()
print type(time.ctime())

In [35]:
#date = datetime.strptime('2017-01-02 09:06:02', '%Y-%m-%d %H:%M:%S')
date = datetime.strptime('2017-01-02', '%Y-%m-%d')
print date
print date.weekday()

2017-01-02 00:00:00
0

In [ ]:
client = pymongo.MongoClient('localhost', 27017)
collection = client[TICK_DB_NAME]['600380.SSE']
flt = {'datetime':{'$gte':datetime.strptime('2017-01-04', '%Y-%m-%d'),
                    '$lt':datetime.strptime('2017-01-05', '%Y-%m-%d')}}
cursor = collection.find(flt).sort('datetime')
for d in cursor:
    print d['datetime']

In [ ]:
a = 1.6
print u'======新的一天 %.f======' % a

In [ ]:
mt = ts.Master()
df = mt.TradeCal(exchangeCD='XSHG', beginDate='20170101', endDate='20171201', field='calendarDate,isOpen,prevTradeDate')
df

In [4]:
'''
获取连接备用
'''
cons = ts.get_apis()

In [ ]:
df = ts.bar('rb1805', conn = cons, freq = 'D', start_date = '2017-11-10', end_date = '', asset = 'X')
df

In [5]:
df = ts.tick('rb1805', conn = cons, date = '2017-11-23', asset = 'X')
df.sort_values('date', ascending = False, inplace = True)
a = df.head(2)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [9]:
isInstanse = isinstance(a, pd.DataFrame)
print isInstanse

True

In [57]:
print a
if None:
    print a
else:
    print 'yes'

                     date price     vol  oi_change  type
13623 2017-11-23 23:00:00    多平  3825.0         68   -44
13622 2017-11-23 22:59:59    空平  3826.0        134  -124
yes

In [47]:
for index, row in a.iterrows():
    the = row['date']
    dt = the.to_datetime()
    tm = dt.strftime('%H:%M:%S')
    print tm

20:59:00
21:00:00

<class 'pandas.tslib.Timestamp'>
<type 'datetime.datetime'>

In [20]:
df = ts.tick('600380', conn = cons, date = '2017-11-20')
df.head(2)

           datetime  price   vol  type
0  2017-11-20 09:30   12.5  6767     2
1  2017-11-20 09:30   12.5  2002     1