In [ ]:
'''
talib
'''

In [1]:
import talib
import numpy as np

In [2]:
high = np.array([1.0, 2.0, 6.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0])
low = np.array([1.0, 2.0, 5.0, 6.0, 5.0, 4.0, 3.0, 2.0, 1.0])
close = np.array([1.0, 2.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0])
a = talib.ATR(high, low, close, 2)
a

array([       nan,        nan,  2.5      ,  3.25     ,  3.625    ,
        3.3125   ,  3.15625  ,  3.578125 ,  4.2890625])

In [ ]:
close = np.array([1000.0, 2.0, 1.0, 6.0, 6.0, 1.0, 6.0, 1.0, 1.0, 1.0, 1.0])
result = talib.RSI(close, 2)
result

In [ ]:
'''
tushare
'''

In [3]:
import tushare as ts
from datetime import datetime, timedelta

In [4]:
cons = ts.get_apis()

In [6]:
#df = ts.tick('rb1805', conn = cons, date = '2017-12-26', asset = 'X') 
#df = ts.tick('IF1801', conn = cons, date = '2017-06-22', asset = 'X') 
df = ts.tick('600380', conn = cons, date = '2018-01-02')

In [7]:
df

              datetime  price   vol  type
0     2018-01-02 09:30  11.19   753     2
1     2018-01-02 09:30  11.19   566     0
2     2018-01-02 09:30  11.20   623     0
3     2018-01-02 09:30  11.21    10     0
4     2018-01-02 09:30  11.23     3     0
5     2018-01-02 09:30  11.21     8     1
6     2018-01-02 09:30  11.21    37     1
7     2018-01-02 09:30  11.21    88     1
8     2018-01-02 09:30  11.23    19     0
9     2018-01-02 09:30  11.21    61     1
10    2018-01-02 09:30  11.21    40     0
11    2018-01-02 09:30  11.22    19     0
12    2018-01-02 09:30  11.24    32     0
13    2018-01-02 09:30  11.23    10     0
14    2018-01-02 09:30  11.23    16     0
15    2018-01-02 09:30  11.23    90     0
16    2018-01-02 09:31  11.23    84     0
17    2018-01-02 09:31  11.22    41     1
18    2018-01-02 09:31  11.23    93     0
19    2018-01-02 09:31  11.24   189     0
20    2018-01-02 09:31  11.25    11     0
21    2018-01-02 09:31  11.25    43     0
22    2018-01-02 09:31  11.25    40     1
23    2018-01-02 09:31  11.26    22     1
24    2018-01-02 09:31  11.27     1     0
25    2018-01-02 09:31  11.27    26     0
26    2018-01-02 09:31  11.26    80     1
27    2018-01-02 09:31  11.26    23     0
28    2018-01-02 09:31  11.27    63     0
29    2018-01-02 09:31  11.28    41     0
...                ...    ...   ...   ...
3722  2018-01-02 14:58  11.39    14     1
3723  2018-01-02 14:58  11.39    24     1
3724  2018-01-02 14:58  11.39    12     1
3725  2018-01-02 14:58  11.39    59     1
3726  2018-01-02 14:58  11.40   139     0
3727  2018-01-02 14:58  11.39    41     1
3728  2018-01-02 14:58  11.39    87     1
3729  2018-01-02 14:59  11.39    86     1
3730  2018-01-02 14:59  11.40    87     0
3731  2018-01-02 14:59  11.39     7     1
3732  2018-01-02 14:59  11.40    87     0
3733  2018-01-02 14:59  11.40   756     0
3734  2018-01-02 14:59  11.40   111     0
3735  2018-01-02 14:59  11.39   102     1
3736  2018-01-02 14:59  11.39   140     1
3737  2018-01-02 14:59  11.39    32     1
3738  2018-01-02 14:59  11.40   168     0
3739  2018-01-02 14:59  11.40   126     0
3740  2018-01-02 14:59  11.40   217     0
3741  2018-01-02 14:59  11.40    83     0
3742  2018-01-02 14:59  11.39    34     1
3743  2018-01-02 14:59  11.40   123     0
3744  2018-01-02 14:59  11.40    68     0
3745  2018-01-02 14:59  11.38  1016     1
3746  2018-01-02 14:59  11.38     5     0
3747  2018-01-02 14:59  11.38    47     0
3748  2018-01-02 14:59  11.38   141     0
3749  2018-01-02 14:59  11.38   100     0
3750  2018-01-02 14:59  11.38    19     0
3751  2018-01-02 14:59  11.39     0     0

[3752 rows x 4 columns]

In [ ]:
df = ts.bar('rb1805', conn = cons, freq = 'D', start_date = '2017-01-01', end_date = '', asset = 'X')

In [ ]:
df.sort_index(inplace = True)
df

In [ ]:
a = df.ix[1]
the = a['date']
dt = the.to_datetime()
print dt
if dt.time() >= datetime.time(21, 0):
    dt = dt - timedelta(1)

print dt

In [ ]:
for index, row in df.iterrows():
    print row['date'], ' '*2, row['vol']

In [ ]:
from datetime import datetime

In [ ]:
from collections import namedtuple
abc = namedtuple('xyz', ['x', 'y'])
the = abc(6,2)
the.x

In [ ]:
import sys
#sys.getdefaultencoding()
#reload(sys)
#sys.setdefaultencoding('UTF-8')
a = sys.getdefaultencoding()
type(a)

In [ ]:
if isinstance('a', str):
    print 1
else:
    print 2

In [ ]:
import pymongo

In [ ]:
c = pymongo.MongoClient('localhot', 270)
if c:
    print c
    
else:
    print 'no'

In [ ]:
from datetime import datetime
a = datetime(1900, 1, 1, 20).time()
print a