In [ ]:
'''
talib
'''

In [ ]:
import talib
import numpy as np

In [ ]:
high = np.array([1.0, 2.0, 6.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0])
low = np.array([1.0, 2.0, 5.0, 6.0, 5.0, 4.0, 3.0, 2.0, 1.0])
close = np.array([1.0, 2.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0])
a = talib.ATR(high, low, close, 2)
a

In [ ]:
close = np.array([1000.0, 2.0, 1.0, 6.0, 6.0, 1.0, 6.0, 1.0, 1.0, 1.0, 1.0])
result = talib.RSI(close, 2)
result

In [ ]:
'''
tushare
'''

In [1]:
import tushare as ts
from datetime import datetime, timedelta

In [ ]:
df = ts.get_tick_data('rb1805', '2017-09-10')
#df

In [2]:
cons = ts.get_apis()

In [3]:
df = ts.tick('rb1805', conn = cons, date = '2018-01-15', asset = 'X') 
#df = ts.tick('IF1801', conn = cons, date = '2017-06-22', asset = 'X') 
#df = ts.tick('600380', conn = cons, date = '2018-01-02')
#df = ts.tick('rb1806', conn = cons, date = '2018-01-10', asset = 'X')
df

                     date price     vol  oi_change  type
0     2018-01-15 20:59:00    平仓  3786.0       4642  -110
1     2018-01-15 21:00:00    多平  3782.0       2372 -1070
2     2018-01-15 21:00:01    多平  3782.0       3432  -792
3     2018-01-15 21:00:01    空开  3782.0        948   164
4     2018-01-15 21:00:02    空平  3784.0        536   -64
5     2018-01-15 21:00:02    空开  3784.0        934   138
6     2018-01-15 21:00:03    空开  3784.0        400   250
7     2018-01-15 21:00:03    平仓  3783.0       1184  -364
8     2018-01-15 21:00:04    空平  3784.0        644  -236
9     2018-01-15 21:00:04    空开  3783.0        426     8
10    2018-01-15 21:00:05    空开  3782.0        442   196
11    2018-01-15 21:00:05    多开  3783.0        782   256
12    2018-01-15 21:00:06    多开  3783.0        520   156
13    2018-01-15 21:00:06    空开  3782.0        460    92
14    2018-01-15 21:00:07    多开  3782.0        464    30
15    2018-01-15 21:00:07    多开  3782.0        250   102
16    2018-01-15 21:00:08    多开  3783.0        358   186
17    2018-01-15 21:00:08    多平  3782.0        308   -32
18    2018-01-15 21:00:09    多平  3782.0        276  -168
19    2018-01-15 21:00:09    空开  3782.0        170    38
20    2018-01-15 21:00:10    多开  3783.0        222    36
21    2018-01-15 21:00:10    多平  3782.0        756   -50
22    2018-01-15 21:00:11    多开  3783.0        188   148
23    2018-01-15 21:00:11    多平  3783.0        122    -8
24    2018-01-15 21:00:12    多平  3783.0        270   -26
25    2018-01-15 21:00:12    多平  3783.0        178   -14
26    2018-01-15 21:00:13    多开  3784.0        198    50
27    2018-01-15 21:00:13    空平  3784.0        416   -10
28    2018-01-15 21:00:14    空平  3785.0        220   -18
29    2018-01-15 21:00:14    空开  3784.0        198    50
...                   ...   ...     ...        ...   ...
36242 2018-01-15 14:59:45    空平  3804.0        284  -162
36243 2018-01-15 14:59:46    空平  3803.0        250   -16
36244 2018-01-15 14:59:46    空平  3803.0        262   -78
36245 2018-01-15 14:59:47    多平  3803.0         68   -44
36246 2018-01-15 14:59:47    空平  3804.0         64   -54
36247 2018-01-15 14:59:48    空平  3804.0        134  -126
36248 2018-01-15 14:59:48    空平  3804.0        188   -84
36249 2018-01-15 14:59:49    双平  3803.0         70   -70
36250 2018-01-15 14:59:49    多平  3803.0        240  -108
36251 2018-01-15 14:59:50    空平  3804.0         68   -30
36252 2018-01-15 14:59:50    空平  3804.0         84   -32
36253 2018-01-15 14:59:51    多平  3803.0        634  -230
36254 2018-01-15 14:59:51    空平  3803.0       1102  -274
36255 2018-01-15 14:59:52    空开  3803.0        150    56
36256 2018-01-15 14:59:52    空换  3803.0        210     0
36257 2018-01-15 14:59:53    空平  3803.0        332  -116
36258 2018-01-15 14:59:53    多平  3803.0         76   -16
36259 2018-01-15 14:59:54    多平  3803.0        176   -16
36260 2018-01-15 14:59:54    空开  3802.0        216    12
36261 2018-01-15 14:59:55    空平  3803.0        282  -192
36262 2018-01-15 14:59:55    空平  3803.0        346  -102
36263 2018-01-15 14:59:56    空开  3803.0        378    10
36264 2018-01-15 14:59:56    多开  3803.0        334   122
36265 2018-01-15 14:59:57    多开  3803.0        382   200
36266 2018-01-15 14:59:57    空开  3802.0        274    10
36267 2018-01-15 14:59:58    空开  3802.0        222   166
36268 2018-01-15 14:59:58    空开  3802.0        224    48
36269 2018-01-15 14:59:59    多开  3803.0        172    24
36270 2018-01-15 14:59:59    多换  3803.0        110     0
36271 2018-01-15 15:00:00    多平  3802.0        192   -56

[36272 rows x 5 columns]

In [ ]:
lastDt = None
mSecond = 0
for i, row in df.iterrows():
    dt = row['date'].to_datetime()
    if (not lastDt) or lastDt != dt:
        mSecond = 0
        lastDt = dt
    else:
        mSecond += 1
    
    #print mSecond
    dt = dt.replace(microsecond = mSecond)
        
    print dt
    print row['vol']
    print '\n'

In [ ]:
for i, row in df.iterrows():
    print row['date'], '*'*2, row['vol']

In [ ]:
df = ts.bar('rb1805', conn = cons, freq = 'D', start_date = '2017-01-01', end_date = '', asset = 'X')

In [ ]:
df.sort_index(inplace = True)
df

In [ ]:
a = df.ix[1]
the = a['date']
dt = the.to_datetime()
print dt
if dt.time() >= datetime.time(21, 0):
    dt = dt - timedelta(1)

print dt

In [ ]:
for index, row in df.iterrows():
    print row['date'], ' '*2, row['vol']

In [ ]:
from datetime import datetime

In [ ]:
from collections import namedtuple
abc = namedtuple('xyz', ['x', 'y'])
the = abc(6,2)
the.x

In [ ]:
import sys
#sys.getdefaultencoding()
#reload(sys)
#sys.setdefaultencoding('UTF-8')
a = sys.getdefaultencoding()
type(a)

In [ ]:
if isinstance('a', str):
    print 1
else:
    print 2

In [ ]:
import pymongo

In [ ]:
c = pymongo.MongoClient('localhot', 270)
if c:
    print c
    
else:
    print 'no'

In [ ]:
'''
datetime
'''

In [ ]:
from datetime import datetime, time

In [ ]:
a = datetime.now().time()
print type(a)

In [ ]:
a = False
if not a:
    print 'yes'

In [ ]:
'''
json
'''
import json

In [ ]:
f1 = open(filePath)
the = json.load(f1)
for dic in the:
    print dic['a']

In [ ]:
import os

In [ ]:
currentFolder = os.getcwd()
print currentFolder
newPath = os.path.join(currentFolder, '')

In [ ]:
d = datetime.now().strftime('Y-m-d')
d

In [ ]:
'''
pandas
'''

In [ ]:
import pandas as pd
from pandas import DataFrame
from pandas import Series

In [ ]:
b = DataFrame()
b['名称'] = []
b['价格'] = []
b['开盘价'] = []
b.ix['2017-01-01'] = [1,2,3]
b.ix['2017-01-02'] = [1,2,3]
b.ix['2017-01-03'] = [1,2,3]
b

In [ ]:
c = DataFrame()
c['名称'] = []
c['价格'] = []
c['开盘价'] = []
c.ix['2017-01-04'] = [1,2,3]
c.ix['2017-01-05'] = [1,2,3]
c.ix['2017-01-06'] = [1,2,3]
c

In [ ]:
the = c.copy()
for index in b.index:
    if index not in c.index:
        c.ix[index] = 0

for index in the.index:
    if index not in b.index:
        b.ix[index] = 0

print b
print '\n'
print c

In [ ]:
d = b + c
d = d.dropna()
d

In [ ]:
fileName = 'abc.csv'

In [ ]:
b.to_csv(fileName, encoding = 'utf-8')

In [ ]:
c = pd.read_csv(fileName, encoding = 'utf-8')
c

In [ ]:
'''
csv
'''

In [ ]:
import csv
import codecs

In [ ]:
fileName = 'abc.csv'

In [ ]:
# 写
f = file(fileName, 'wb')
f.write(codecs.BOM_UTF8)

fieldnames = [u'a', 'last_name']
writer = csv.DictWriter(f, fieldnames=fieldnames)

writer.writeheader()
writer.writerow({'a': '和', 'last_name': '啊'})

In [ ]:
# 读
with open(fileName) as f:
    reader = csv.DictReader(f)
    the = []
    for row in reader:
        the.append(row)
    print the

In [ ]:
'''
os
'''

In [ ]:
import os

In [ ]:
exists = os.path.exists(fileName)
print exists
print os.getcwd()
newFileName = os.getcwd() + '\clone\\abc.csv'
print newFileName
print os.path.exists(newFileName)

In [ ]:
dic = {'a':1, 'b':2, 'c':3}
print dic.keys()
print type(dic.keys())

In [ ]:
walkingDic = 'C:\\Users'
for root, subdirs, files in os.walk(walkingDic):
    for sub in subdirs:
        if sub == 'stgEarningCSV':
            print root

In [ ]:
'''
MongoDB
'''

In [ ]:
import pymongo
from datetime import datetime
from vnpy.trader.app.ctaStrategy.ctaBase import TICK_DB_NAME

In [ ]:
code = 'rb1805.SHFE'
#code = 'rb1805'
startDate = datetime.strptime('2018-01-11 22:59:50', '%Y-%m-%d %H:%M:%S')
endDate = datetime.strptime('2018-01-11 22:59:59', '%Y-%m-%d %H:%M:%S')
client = pymongo.MongoClient('localhost', 27017)
collection = client[TICK_DB_NAME][code]
flt = {'datetime':{'$gte':startDate,
                   '$lt':endDate}}        
data = collection.find(flt).sort('datetime')
for dic in data:
    print dic['datetime']
    print dic['lastPrice']
    print '\n'

In [ ]:
code = 'rb1805'
startDate = datetime.strptime('2018-01-11 22:59:50', '%Y-%m-%d %H:%M:%S')
endDate = datetime.strptime('2018-01-11 22:59:59', '%Y-%m-%d %H:%M:%S')
client = pymongo.MongoClient('localhost', 27017)
collection = client[TICK_DB_NAME][code]
flt = {'datetime':{'$gte':startDate,
                   '$lt':endDate}}        
data = collection.find(flt).sort('datetime')
for dic in data:
    print dic['datetime']
    print dic['lastPrice']
    print '\n'

In [ ]:
from datetime import datetime
day = '20111101'
time = '90000500000'
dayTime = day + ' ' + time
dt = datetime.strptime(dayTime, '%Y%m%d %H%M%S%f')
print dt

In [10]:
from time import ctime, sleep
import threading

In [39]:
def action1(arg1, arg2):
    #print 'action1', '*', ctime()
    sleep(3)
    print 'action1', '*', ctime()
    
def action2(arg1, arg2):
    sleep(6)
    print 'action2', '*', ctime()

In [41]:
threads = []
t1 = threading.Thread(target = action1, args = ('a', 'b'))
threads.append(t1)
t2 = threading.Thread(target = action2, args = ('x', 'y'))
threads.append(t2)

for t in threads:
    #t.setDaemon(True)
    t.start()
print 'main'

main
action1 * Wed Jan 17 11:02:16 2018
action2 * Wed Jan 17 11:02:19 2018

In [46]:
a = -0
if a:
    print 'yes'
else:
    print 'no'
print a

no
0

In [11]:
from datetime import datetime, time, timedelta

In [14]:
nowTime = datetime.now().time()
startMinute = nowTime.minute
startHour = nowTime.hour
startMinute += 1
if startMinute >= 60:
    startMinute = 0
    startHour += 1
        
endMinute = startMinute + 1
endHour =  startHour
if endMinute >= 60:
    endMinute = 0
    endHour += 1
        
startTime = nowTime.replace(hour=startHour, minute=startMinute)
endTime = nowTime.replace(hour=endHour, minute=endMinute)

print nowTime
print startTime
print endTime

09:31:49.402000
09:32:49.402000
09:33:49.402000

In [1]:
from datetime import datetime

In [8]:
timeStr = '113000500'
the = datetime.strptime(timeStr, '%H%M%S%f')
time = the.strftime('%H:%M:%S.%f')

dateStr = '20170511'

the = datetime.strptime(dateStr + ' ' + time, '%Y%m%d %H:%M:%S.%f')
print the

2017-05-11 11:30:00.500000