In [1]:
import tushare as ts

In [2]:
'''
获取连接备用
'''
cons = ts.get_apis()

In [13]:
'''
bar接口
'''
#freq 【'1min' '5min' '15min' '30min' '60min' 'D' 'W' 'M' 'Q' 'Y'】
#asset 【'INDEX'：指数  'X'：港股美股期货】
#ma 【均线数组  5,10,20,60】
#factors 【因子数组  'vr'：量比  'tor'：换手率】
#adj 【复权  'qfq'：前复权  'hfq'：后复权  'None'：默认不复权

#df = ts.bar('600380', conn = cons, freq = 'D', start_date = '2017-01-01', end_date = '', ma = [5, 10, 20, 60], factors = ['vr', 'tor'], adj = 'None')
df = ts.bar('cu1809', conn = cons, asset = 'X', freq = 'D', start_date = '2017-09-01', end_date = '')
df

,code,open,close,high,low,vol,avg_price,position
datetime,,,,,,,,
2018-08-03,CU1809,49290.0,49230.0,49370.0,49050.0,158676,49210.0,161328
2018-08-02,CU1809,49390.0,49340.0,49530.0,48740.0,253890,49210.0,163048
2018-08-01,CU1809,49800.0,49820.0,50200.0,49590.0,242416,49930.0,165578
2018-07-31,CU1809,49730.0,49830.0,50010.0,49540.0,230464,49780.0,172196
2018-07-30,CU1809,50130.0,49360.0,50400.0,49320.0,296308,49940.0,184308
2018-07-27,CU1809,49980.0,50090.0,50240.0,49840.0,234256,50040.0,194188
2018-07-26,CU1809,49910.0,50140.0,50290.0,49750.0,281736,50000.0,196458
2018-07-25,CU1809,49690.0,49910.0,50270.0,49670.0,380778,50020.0,199500
2018-07-24,CU1809,49190.0,49310.0,49500.0,48940.0,280694,49200.0,206958
2018-07-23,CU1809,48650.0,49020.0,49170.0,48600.0,358224,48870.0,212686
2018-07-20,CU1809,48150.0,48590.0,48740.0,48010.0,396008,48340.0,214158
2018-07-19,CU1809,48180.0,48670.0,49150.0,48170.0,398280,48690.0,203752
2018-07-18,CU1809,48660.0,48260.0,48800.0,48130.0,330832,48490.0,225282
2018-07-17,CU1809,48700.0,48810.0,49160.0,48510.0,295984,48820.0,214454
2018-07-16,CU1809,48850.0,48720.0,49300.0,48720.0,296012,48990.0,212320
2018-07-13,CU1809,48770.0,48720.0,49010.0,48580.0,275076,48820.0,210156
2018-07-12,CU1809,48250.0,49000.0,49170.0,47780.0,450502,48490.0,207346
2018-07-11,CU1809,49570.0,48120.0,49750.0,47520.0,541382,48390.0,203752
2018-07-10,CU1809,49700.0,49760.0,50000.0,49580.0,209834,49800.0,188898
2018-07-09,CU1809,49100.0,49990.0,50080.0,48830.0,285956,49540.0,182134
2018-07-06,CU1809,49550.0,49160.0,49770.0,48640.0,313860,49270.0,175300
2018-07-05,CU1809,50190.0,49430.0,50310.0,49300.0,280700,49710.0,167762
2018-07-04,CU1809,51380.0,50240.0,51500.0,50100.0,205534,50910.0,157088
2018-07-03,CU1809,51550.0,51610.0,51740.0,51200.0,108982,51520.0,142266
2018-07-02,CU1809,51700.0,51400.0,51700.0,51130.0,101530,51510.0,137798
2018-06-29,CU1809,51550.0,51830.0,51960.0,51250.0,104716,51620.0,125572
2018-06-28,CU1809,51620.0,51820.0,52230.0,51580.0,82712,51950.0,120600
2018-06-27,CU1809,51700.0,51640.0,51930.0,51620.0,62566,51740.0,113684
2018-06-26,CU1809,51920.0,51790.0,51960.0,51480.0,59842,51700.0,109442
2018-06-25,CU1809,51960.0,51830.0,52290.0,51810.0,54598,52040.0,105362
...,...,...,...,...,...,...,...,...
2017-11-03,CU1809,55010.0,55500.0,55830.0,55010.0,126,55510.0,1936
2017-11-02,CU1809,55450.0,55090.0,55530.0,54960.0,288,55190.0,1932
2017-11-01,CU1809,54720.0,55650.0,55810.0,54580.0,290,55470.0,2042
2017-10-31,CU1809,54760.0,55200.0,55200.0,54560.0,198,54790.0,2056
2017-10-30,CU1809,55020.0,54790.0,55020.0,54520.0,182,54740.0,2042
2017-10-27,CU1809,55930.0,55120.0,55950.0,55100.0,298,55430.0,2054
2017-10-26,CU1809,55910.0,55880.0,56150.0,55840.0,236,56010.0,2086
2017-10-25,CU1809,56840.0,55690.0,56840.0,55420.0,824,55940.0,2084
2017-10-24,CU1809,56170.0,56810.0,57120.0,56110.0,228,56710.0,1976
2017-10-23,CU1809,56550.0,56000.0,56620.0,55630.0,216,56170.0,1918
2017-10-20,CU1809,55870.0,56730.0,56870.0,55700.0,180,56380.0,1934
2017-10-19,CU1809,56180.0,56170.0,56390.0,55970.0,200,56200.0,1958
2017-10-18,CU1809,56710.0,56270.0,56780.0,56000.0,258,56390.0,1970
2017-10-17,CU1809,56880.0,56660.0,57570.0,56550.0,400,57050.0,2000
2017-10-16,CU1809,54330.0,56590.0,56980.0,54190.0,1206,55660.0,1990
2017-10-13,CU1809,54420.0,54450.0,54640.0,54230.0,592,54470.0,1364
2017-10-12,CU1809,53320.0,54340.0,54490.0,53310.0,816,53980.0,1020
2017-10-11,CU1809,52980.0,53460.0,53460.0,52820.0,376,53250.0,650
2017-10-10,CU1809,53200.0,53000.0,53440.0,52950.0,250,53160.0,524
2017-10-09,CU1809,53310.0,53360.0,53530.0,53140.0,124,53360.0,422
2017-09-29,CU1809,52090.0,52900.0,53000.0,52090.0,178,52640.0,356
2017-09-28,CU1809,52070.0,51940.0,52070.0,51510.0,174,51820.0,312
2017-09-27,CU1809,51980.0,51980.0,52060.0,51730.0,182,51940.0,238
2017-09-26,CU1809,51900.0,52290.0,52320.0,51840.0,102,52170.0,228
2017-09-25,CU1809,51480.0,51800.0,52020.0,51370.0,118,51790.0,200
2017-09-22,CU1809,51970.0,51200.0,51980.0,51010.0,44,51360.0,176
2017-09-21,CU1809,52420.0,51800.0,52450.0,51730.0,126,52050.0,162
2017-09-20,CU1809,52320.0,52490.0,52550.0,52320.0,52,52420.0,108
2017-09-19,CU1809,52320.0,52430.0,52430.0,52270.0,80,52360.0,86
2017-09-18,CU1809,52030.0,52210.0,52280.0,52030.0,30,52190.0,20

In [7]:
'''
tick接口
'''
#股票tick数据type 【买卖方向  0：买入  1：卖出  2：集合竞价成交】
#期货tick数据type 【买卖方向  0：开仓  1：多开  -1：空开】
#asset 【X'：期货】
df = ts.tick('rb1805', conn = cons, date = '2018-03-30', asset = 'X')
#df.sort_values('datetime', ascending = False, inplace = True)
df

                     date   price   vol  oi_change type
0     2018-03-30 20:59:00  3483.0  4972      -1848   平仓
1     2018-03-30 21:00:00  3484.0  2186       -742   空平
2     2018-03-30 21:00:01  3490.0  3688      -1672   空平
3     2018-03-30 21:00:01  3489.0  3470      -1444   空平
4     2018-03-30 21:00:02  3488.0  1640       -418   空平
5     2018-03-30 21:00:02  3488.0  1586        252   多开
6     2018-03-30 21:00:03  3488.0   754        -84   空平
7     2018-03-30 21:00:03  3488.0   532        -90   空平
8     2018-03-30 21:00:04  3485.0   838       -188   多平
9     2018-03-30 21:00:04  3488.0   592       -306   空平
10    2018-03-30 21:00:05  3488.0   444       -218   多平
11    2018-03-30 21:00:05  3488.0   610       -356   多平
12    2018-03-30 21:00:06  3488.0   328       -180   多平
13    2018-03-30 21:00:06  3488.0   216        -50   空平
14    2018-03-30 21:00:07  3488.0   118          4   多开
15    2018-03-30 21:00:07  3488.0   660       -296   空平
16    2018-03-30 21:00:08  3486.0   198        -14   多平
17    2018-03-30 21:00:08  3487.0   264         94   多开
18    2018-03-30 21:00:09  3487.0   154         42   多开
19    2018-03-30 21:00:09  3485.0    84         14   空开
20    2018-03-30 21:00:10  3485.0   176          0   空换
21    2018-03-30 21:00:10  3486.0   132          0   多换
22    2018-03-30 21:00:11  3486.0   176          4   多开
23    2018-03-30 21:00:11  3484.0   184        -92   多平
24    2018-03-30 21:00:12  3486.0   286       -238   空平
25    2018-03-30 21:00:12  3485.0   126        -12   多平
26    2018-03-30 21:00:13  3486.0   268         72   开仓
27    2018-03-30 21:00:13  3485.0   218         60   空开
28    2018-03-30 21:00:14  3485.0   336       -222   多平
29    2018-03-30 21:00:14  3486.0   152        -44   空平
...                   ...     ...   ...        ...  ...
33939 2018-03-30 14:59:45  3593.0    72        -70   空平
33940 2018-03-30 14:59:46  3593.0    88        -14   空平
33941 2018-03-30 14:59:46  3594.0   392       -262   空平
33942 2018-03-30 14:59:47  3594.0   222       -148   多平
33943 2018-03-30 14:59:47  3592.0   274       -140   多平
33944 2018-03-30 14:59:48  3592.0   336        -68   多平
33945 2018-03-30 14:59:48  3592.0   168       -152   多平
33946 2018-03-30 14:59:49  3593.0   160       -104   空平
33947 2018-03-30 14:59:49  3592.0   274        -62   多平
33948 2018-03-30 14:59:50  3592.0   180       -168   多平
33949 2018-03-30 14:59:50  3592.0   242         -4   空平
33950 2018-03-30 14:59:51  3592.0   190       -116   多平
33951 2018-03-30 14:59:51  3592.0   348         96   空开
33952 2018-03-30 14:59:52  3591.0   294         22   空开
33953 2018-03-30 14:59:52  3592.0   262         68   多开
33954 2018-03-30 14:59:53  3592.0   118        -38   空平
33955 2018-03-30 14:59:53  3592.0   168         72   空开
33956 2018-03-30 14:59:54  3592.0   732         20   多开
33957 2018-03-30 14:59:54  3592.0   194       -176   多平
33958 2018-03-30 14:59:55  3592.0   188        -34   多平
33959 2018-03-30 14:59:55  3592.0   228       -104   多平
33960 2018-03-30 14:59:56  3591.0   498       -152   多平
33961 2018-03-30 14:59:56  3592.0   220        -88   空平
33962 2018-03-30 14:59:57  3591.0   206         10   空开
33963 2018-03-30 14:59:57  3593.0   140          2   多开
33964 2018-03-30 14:59:58  3593.0   448         80   多开
33965 2018-03-30 14:59:58  3591.0   138        -16   多平
33966 2018-03-30 14:59:59  3592.0   144        -22   空平
33967 2018-03-30 14:59:59  3591.0   218        -86   多平
33968 2018-03-30 15:00:00  3592.0    80        -12   空平

[33969 rows x 5 columns]

In [72]:
'''
沪\深港通每日资金流向（南向、北向资金）
'''
df = ts.moneyflow_hsgt()
df.sort_values('date', ascending = False, inplace = True)
#df

In [20]:
'''
申购可转债列表
'''
#获取全部可转债列表（default = 0）
df = ts.new_cbonds()
df.head(6)

,bcode,bname,scode,sname,xcode,amount,marketprice,convprice,firstdayprice,ipo_date,issue_date,ballot,return,perreturn
0,128020,水晶转债,002273,水晶光电,072273,11.80,NaN,29.90,NaN,2017-11-17,NaN,NaN,NaN,NaN
1,110039,宝信转债,600845,宝信软件,733845,16.00,NaN,18.46,NaN,2017-11-17,NaN,NaN,NaN,NaN
2,110038,济川转债,600566,济川药业,733566,8.43,NaN,41.04,NaN,2017-11-13,NaN,0.01%,NaN,864.21
3,113502,嘉澳转债,603822,嘉澳环保,754822,1.85,NaN,45.48,NaN,2017-11-10,NaN,0.00%,NaN,7277.21
4,128019,久立转2,002318,久立特材,072318,10.40,NaN,8.37,NaN,2017-11-08,NaN,0.01%,NaN,1968.62
5,128018,时达转债,002527,新时达,072527,8.83,NaN,11.90,NaN,2017-11-06,NaN,0.00%,NaN,2456.65

In [42]:
'''
获取实时行情
'''
df = ts.quotes('600380', conn = cons)
df

,amount,ask1,ask2,ask3,ask4,ask5,ask_vol1,ask_vol2,ask_vol3,ask_vol4,...,bid_vol5,code,cur_vol,high,last_close,low,open,price,s_vol,vol
0,1.118178e+09,12.91,12.92,12.93,12.94,12.95,1540,106,242,67,...,912,600380,231,13.81,13.84,12.8,13.69,12.92,469359,835595