In [2]:
import tushare as ts

In [5]:
'''
获取连接备用
'''
cons = ts.get_apis()

In [4]:
'''
bar接口
'''
#freq 【'1min' '5min' '15min' '30min' '60min' 'D' 'W' 'M' 'Q' 'Y'】
#asset 【'INDEX'：指数  'X'：港股美股期货】
#ma 【均线数组  5,10,20,60】
#factors 【因子数组  'vr'：量比  'tor'：换手率】
#adj 【复权  'qfq'：前复权  'hfq'：后复权  'None'：默认不复权

df = ts.bar('600380', conn = cons, freq = 'D', start_date = '2017-01-01', end_date = '', ma = [5, 10, 20, 60], factors = ['vr', 'tor'], adj = 'None')
#df

In [7]:
'''
tick接口
'''
#股票tick数据type 【买卖方向  0：买入  1：卖出  2：集合竞价成交】
#期货tick数据type 【买卖方向  0：开仓  1：多开  -1：空开】
#asset 【X'：期货】
df = ts.tick('rb1805', conn = cons, date = '2018-03-30', asset = 'X')
#df.sort_values('datetime', ascending = False, inplace = True)
df

                     date   price   vol  oi_change type
0     2018-03-30 20:59:00  3483.0  4972      -1848   平仓
1     2018-03-30 21:00:00  3484.0  2186       -742   空平
2     2018-03-30 21:00:01  3490.0  3688      -1672   空平
3     2018-03-30 21:00:01  3489.0  3470      -1444   空平
4     2018-03-30 21:00:02  3488.0  1640       -418   空平
5     2018-03-30 21:00:02  3488.0  1586        252   多开
6     2018-03-30 21:00:03  3488.0   754        -84   空平
7     2018-03-30 21:00:03  3488.0   532        -90   空平
8     2018-03-30 21:00:04  3485.0   838       -188   多平
9     2018-03-30 21:00:04  3488.0   592       -306   空平
10    2018-03-30 21:00:05  3488.0   444       -218   多平
11    2018-03-30 21:00:05  3488.0   610       -356   多平
12    2018-03-30 21:00:06  3488.0   328       -180   多平
13    2018-03-30 21:00:06  3488.0   216        -50   空平
14    2018-03-30 21:00:07  3488.0   118          4   多开
15    2018-03-30 21:00:07  3488.0   660       -296   空平
16    2018-03-30 21:00:08  3486.0   198        -14   多平
17    2018-03-30 21:00:08  3487.0   264         94   多开
18    2018-03-30 21:00:09  3487.0   154         42   多开
19    2018-03-30 21:00:09  3485.0    84         14   空开
20    2018-03-30 21:00:10  3485.0   176          0   空换
21    2018-03-30 21:00:10  3486.0   132          0   多换
22    2018-03-30 21:00:11  3486.0   176          4   多开
23    2018-03-30 21:00:11  3484.0   184        -92   多平
24    2018-03-30 21:00:12  3486.0   286       -238   空平
25    2018-03-30 21:00:12  3485.0   126        -12   多平
26    2018-03-30 21:00:13  3486.0   268         72   开仓
27    2018-03-30 21:00:13  3485.0   218         60   空开
28    2018-03-30 21:00:14  3485.0   336       -222   多平
29    2018-03-30 21:00:14  3486.0   152        -44   空平
...                   ...     ...   ...        ...  ...
33939 2018-03-30 14:59:45  3593.0    72        -70   空平
33940 2018-03-30 14:59:46  3593.0    88        -14   空平
33941 2018-03-30 14:59:46  3594.0   392       -262   空平
33942 2018-03-30 14:59:47  3594.0   222       -148   多平
33943 2018-03-30 14:59:47  3592.0   274       -140   多平
33944 2018-03-30 14:59:48  3592.0   336        -68   多平
33945 2018-03-30 14:59:48  3592.0   168       -152   多平
33946 2018-03-30 14:59:49  3593.0   160       -104   空平
33947 2018-03-30 14:59:49  3592.0   274        -62   多平
33948 2018-03-30 14:59:50  3592.0   180       -168   多平
33949 2018-03-30 14:59:50  3592.0   242         -4   空平
33950 2018-03-30 14:59:51  3592.0   190       -116   多平
33951 2018-03-30 14:59:51  3592.0   348         96   空开
33952 2018-03-30 14:59:52  3591.0   294         22   空开
33953 2018-03-30 14:59:52  3592.0   262         68   多开
33954 2018-03-30 14:59:53  3592.0   118        -38   空平
33955 2018-03-30 14:59:53  3592.0   168         72   空开
33956 2018-03-30 14:59:54  3592.0   732         20   多开
33957 2018-03-30 14:59:54  3592.0   194       -176   多平
33958 2018-03-30 14:59:55  3592.0   188        -34   多平
33959 2018-03-30 14:59:55  3592.0   228       -104   多平
33960 2018-03-30 14:59:56  3591.0   498       -152   多平
33961 2018-03-30 14:59:56  3592.0   220        -88   空平
33962 2018-03-30 14:59:57  3591.0   206         10   空开
33963 2018-03-30 14:59:57  3593.0   140          2   多开
33964 2018-03-30 14:59:58  3593.0   448         80   多开
33965 2018-03-30 14:59:58  3591.0   138        -16   多平
33966 2018-03-30 14:59:59  3592.0   144        -22   空平
33967 2018-03-30 14:59:59  3591.0   218        -86   多平
33968 2018-03-30 15:00:00  3592.0    80        -12   空平

[33969 rows x 5 columns]

In [72]:
'''
沪\深港通每日资金流向（南向、北向资金）
'''
df = ts.moneyflow_hsgt()
df.sort_values('date', ascending = False, inplace = True)
#df

In [20]:
'''
申购可转债列表
'''
#获取全部可转债列表（default = 0）
df = ts.new_cbonds()
df.head(6)

,bcode,bname,scode,sname,xcode,amount,marketprice,convprice,firstdayprice,ipo_date,issue_date,ballot,return,perreturn
0,128020,水晶转债,002273,水晶光电,072273,11.80,NaN,29.90,NaN,2017-11-17,NaN,NaN,NaN,NaN
1,110039,宝信转债,600845,宝信软件,733845,16.00,NaN,18.46,NaN,2017-11-17,NaN,NaN,NaN,NaN
2,110038,济川转债,600566,济川药业,733566,8.43,NaN,41.04,NaN,2017-11-13,NaN,0.01%,NaN,864.21
3,113502,嘉澳转债,603822,嘉澳环保,754822,1.85,NaN,45.48,NaN,2017-11-10,NaN,0.00%,NaN,7277.21
4,128019,久立转2,002318,久立特材,072318,10.40,NaN,8.37,NaN,2017-11-08,NaN,0.01%,NaN,1968.62
5,128018,时达转债,002527,新时达,072527,8.83,NaN,11.90,NaN,2017-11-06,NaN,0.00%,NaN,2456.65

In [42]:
'''
获取实时行情
'''
df = ts.quotes('600380', conn = cons)
df

,amount,ask1,ask2,ask3,ask4,ask5,ask_vol1,ask_vol2,ask_vol3,ask_vol4,...,bid_vol5,code,cur_vol,high,last_close,low,open,price,s_vol,vol
0,1.118178e+09,12.91,12.92,12.93,12.94,12.95,1540,106,242,67,...,912,600380,231,13.81,13.84,12.8,13.69,12.92,469359,835595